# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
/PasswordGenerator/packages
/PasswordGenerator/PasswordGenerator/bin
/PasswordGenerator/PasswordGenerator/obj/Debug
*.user
*.suo
/PasswordGenerator/PasswordGenerator/obj/Release
/PasswordGenerator/PasswordGeneratorAzureService/bin/Debug
/PasswordGenerator/PasswordGeneratorAzureService/csx/Debug
/PasswordGenerator/PasswordGeneratorWorkerRole/bin/Debug
/PasswordGenerator/PasswordGeneratorWorkerRole/obj/Debug
/PasswordGenerator/PasswordGeneratorAzureService/obj/Debug
/PasswordGenerator/PasswordGenerator.Activities/bin/Debug
/PasswordGenerator/PasswordGenerator.Test/bin/Debug
/PasswordGenerator/PasswordGenerator.Test/obj/Debug
/PasswordGenerator/PasswordGenerator.Activities/obj/Debug
/Pastebin/Pastebin/obj
/Pastebin/Pastebin.Tests/bin/Debug
/Pastebin/Pastebin.Tests/obj
/Pastebin/Pastebin/App_Data/aspnet-Pastebin-20140826074547.mdf
/Pastebin/Pastebin/App_Data/aspnet-Pastebin-20140826074547_log.ldf
/Pastebin/Pastebin/bin/WebGrease.dll
/Pastebin/Pastebin/bin/Antlr3.Runtime.dll
/Pastebin/Pastebin/bin/Antlr3.Runtime.pdb
/Pastebin/Pastebin/bin/EntityFramework.dll
/Pastebin/Pastebin/bin/EntityFramework.SqlServer.dll
/Pastebin/Pastebin/bin/EntityFramework.SqlServer.xml
/Pastebin/Pastebin/bin/EntityFramework.xml
/Pastebin/Pastebin/bin/Microsoft.AspNet.Identity.Core.dll
/Pastebin/Pastebin/bin/Microsoft.AspNet.Identity.Core.xml
/Pastebin/Pastebin/bin/Microsoft.AspNet.Identity.EntityFramework.dll
/Pastebin/Pastebin/bin/Microsoft.AspNet.Identity.EntityFramework.xml
/Pastebin/Pastebin/bin/Microsoft.AspNet.Identity.Owin.dll
/Pastebin/Pastebin/bin/Microsoft.AspNet.Identity.Owin.xml
/Pastebin/Pastebin/bin/Microsoft.Owin.dll
/Pastebin/Pastebin/bin/Microsoft.Owin.Host.SystemWeb.dll
/Pastebin/Pastebin/bin/Microsoft.Owin.Host.SystemWeb.xml
/Pastebin/Pastebin/bin/Microsoft.Owin.Security.Cookies.dll
/Pastebin/Pastebin/bin/Microsoft.Owin.Security.Cookies.xml
/Pastebin/Pastebin/bin/Microsoft.Owin.Security.dll
/Pastebin/Pastebin/bin/Microsoft.Owin.Security.Facebook.dll
/Pastebin/Pastebin/bin/Microsoft.Owin.Security.Facebook.xml
/Pastebin/Pastebin/bin/Microsoft.Owin.Security.Google.dll
/Pastebin/Pastebin/bin/Microsoft.Owin.Security.Google.xml
/Pastebin/Pastebin/bin/Microsoft.Owin.Security.MicrosoftAccount.dll
/Pastebin/Pastebin/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
/Pastebin/Pastebin/bin/Microsoft.Owin.Security.OAuth.dll
/Pastebin/Pastebin/bin/Microsoft.Owin.Security.OAuth.xml
/Pastebin/Pastebin/bin/Microsoft.Owin.Security.Twitter.dll
/Pastebin/Pastebin/bin/Microsoft.Owin.Security.Twitter.xml
/Pastebin/Pastebin/bin/Microsoft.Owin.Security.xml
/Pastebin/Pastebin/bin/Microsoft.Owin.xml
/Pastebin/Pastebin/bin/Microsoft.Web.Infrastructure.dll
/Pastebin/Pastebin/bin/Newtonsoft.Json.dll
/Pastebin/Pastebin/bin/Newtonsoft.Json.xml
/Pastebin/Pastebin/bin/Owin.dll
/Pastebin/Pastebin/bin/Pastebin.dll
/Pastebin/Pastebin/bin/Pastebin.dll.config
/Pastebin/Pastebin/bin/Pastebin.pdb
/Pastebin/Pastebin/bin/System.Web.Helpers.dll
/Pastebin/Pastebin/bin/System.Web.Helpers.xml
/Pastebin/Pastebin/bin/System.Web.Mvc.dll
/Pastebin/Pastebin/bin/System.Web.Mvc.xml
/Pastebin/Pastebin/bin/System.Web.Optimization.dll
/Pastebin/Pastebin/bin/System.Web.Optimization.xml
/Pastebin/Pastebin/bin/System.Web.Razor.dll
/Pastebin/Pastebin/bin/System.Web.Razor.xml
/Pastebin/Pastebin/bin/System.Web.WebPages.Deployment.dll
/Pastebin/Pastebin/bin/System.Web.WebPages.Deployment.xml
/Pastebin/Pastebin/bin/System.Web.WebPages.dll
/Pastebin/Pastebin/bin/System.Web.WebPages.Razor.dll
/Pastebin/Pastebin/bin/System.Web.WebPages.Razor.xml
/Pastebin/Pastebin/bin/System.Web.WebPages.xml
/Pastebin/packages
