<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!--<customErrors mode="Off" />-->
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="default.min.html" />
      </files>
    </defaultDocument>
  </system.webServer>
  <connectionStrings>
    <add name="LogContext" connectionString="metadata=res://*/Models.LogModel.csdl|res://*/Models.LogModel.ssdl|res://*/Models.LogModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:mwc4fxueq9.database.windows.net,1433;Initial Catalog=shortener_db;Integrated Security=False;Persist Security Info=True;User ID=MobileDbUser@mwc4fxueq9;Password=clap-wAUf45;Connect Timeout=30;Encrypt=True&quot;" providerName="System.Data.EntityClient" />
    <add name="FeedbackContext" connectionString="metadata=res://*/Models.Feedback.csdl|res://*/Models.Feedback.ssdl|res://*/Models.Feedback.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:mwc4fxueq9.database.windows.net,1433;initial catalog=shortener_db;integrated security=False;persist security info=True;user id=MobileDbUser@mwc4fxueq9;password=clap-wAUf45;multipleactiveresultsets=True;connect timeout=30;encrypt=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>